@import "tailwindcss";

@theme {
  --color-primary: #e50914;
  --color-secondary: #141414;
}

@custom-variant dark (&:is(.dark *));

/* Custom scrollbar for webkit */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
